[Unit]
Description=Startup Scada Service Script

[Service]
ExecStart=/home/fernando/scada/scada_substations_unrc/start_scada.sh

[Install]
WantedBy=multi-user.target